<div class="container">
  <form class="form-signin" ng-submit="login.login($event)">
    <h2 class="form-signin-heading">Ubin</h2>
    <label for="inputEmail" class="sr-only">Correo electrónico</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Correo electrónico" ng-model="login.data.email" required>
    <label for="inputPassword" class="sr-only">Contraseña</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" ng-model="login.data.password" required>
    <uib-alert ng-repeat="alert in login.alerts.alerts" type="{{alert.type}}" close="login.alerts.closeAlert($index)">{{alert.msg}}</uib-alert>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
  </form>
</div>