<div class="row">
  <div class="col-sm-8">
    <h2 class="main">Selecciona tu ubicación</h2>
    <div class="form-group">
      <label class="u-label">
        <span>País:</span>
      </label>
      <div class="padding-wrapper">
        <div class="select">
          <select ng-options="country.id as country.name for country in main.countries track by country.id" ng-model="main.location.country" ng-change="main.modelSelected()"></select>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="u-label">
        <span>Estado:</span>
      </label>
      <div class="padding-wrapper">
        <div class="select">
          <select ng-options="state.id as state.name for state in main.states track by state.id" ng-model="main.location.state">
            <option value="">Selecciona un estado</option>
          </select>
        </div>
      </div>
    </div>
    <button class="btn btn-primary" ng-click="main.setLocation()">Aceptar</button>
  </div>
</div>
