<div class="row">
  <div class="col-sm-8">
    <h2 class="main">Añadir publicación</h2>
    <form ng-submit="post.savePost()" class="create-form">
      <div class="form-group">
        <label class="u-label">
          <span>Número de lona o código:</span>
        </label>
        <div class="padding-wrapper">
          <input type="text" class="form-control" ng-model="post.post.canvas_number">
        </div>
      </div>
      <div class="form-group">
        <label class="u-label">
          <span>Tipo de publicación:</span>
        </label>
        <div class="padding-wrapper">
          <div class="select">
            <select ng-options="type.id as type.name for type in post.type.publication track by type.id" ng-model="post.post.type_publications">
              <option value=""></option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="u-label">
          <span>Tipo de inmueble:</span>
        </label>
        <div class="padding-wrapper">
          <div class="select">
            <select ng-options="type.id as type.name for type in post.type.property track by type.id" ng-model="post.post.type_property">
              <option value=""></option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label class="u-label">
              <span>Municipio:</span>
            </label>
            <div class="padding-wrapper">
              <div class="select">
                <select ng-options="type.id as type.name for type in post.minucipalities track by type.id" ng-model="post.post.town__id" ng-change="post.setNeighborhood()">
                  <option value=""></option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label class="u-label">
              <span>Colonia:</span>
            </label>
            <div class="padding-wrapper">
              <div class="select">
                <select ng-options="type.id as type.name for type in post.neighborhood track by type.id" ng-model="post.post.neighborhood">
                  <option value=""></option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="u-label">
          <span>Título de la publicación:</span>
        </label>
        <div class="padding-wrapper">
          <input type="text" class="form-control" ng-model="post.post.title">
        </div>
      </div>
      <div class="form-group">
        <label class="u-label">
          <span>Descripción del anuncio:</span>
        </label>
        <div class="padding-wrapper">
          <input type="text" class="form-control" ng-model="post.post.description">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label class="u-label">
              <span>Precio:</span>
            </label>
            <div class="padding-wrapper">
              <input type="number" class="form-control" ng-model="post.post.price_first">
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group radios">
            <label class="radio-inline u-label" ng-repeat="currency in post.currencies">
              <input type="radio" name="currency" ng-model="post.post.currency" ng-value="currency.id"> {{currency.name}}
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label class="u-label">
              <span>Baños:</span>
            </label>
            <div class="padding-wrapper">
              <div class="select">
                <select ng-model="post.post.bathrooms">
                  <option value=""></option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="12">13</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label class="u-label">
              <span>Antigüedad:</span>
            </label>
            <div class="padding-wrapper">
              <input type="number" class="form-control" ng-model="post.post.antiquity" min="0">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label class="u-label">
              <span>Metros (terreno):</span>
            </label>
            <div class="padding-wrapper">
              <input type="text" class="form-control" ng-model="post.post.area">
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label class="u-label">
              <span>Metros (construcción):</span>
            </label>
            <div class="padding-wrapper">
              <input type="text" class="form-control" ng-model="post.post.construction_area">
            </div>
          </div>
        </div>
      </div>
      <div>
        <label class="u-label">Fotos (máx 5):</label>
        <label class="file" ng-class="{hasFile: arrFiles[0] == 1}">
          <input type="file" file="post.post.photos[0]" onchange="angular.element(this).scope().fileNameChanged(this, 0)">
        </label>
        <label class="file" ng-class="{hasFile: arrFiles[1] == 1}">
          <input type="file" file="post.post.photos[1]" onchange="angular.element(this).scope().fileNameChanged(this, 1)">
        </label>
        <label class="file" ng-class="{hasFile: arrFiles[2] == 1}">
          <input type="file" file="post.post.photos[2]" onchange="angular.element(this).scope().fileNameChanged(this, 2)">
        </label>
        <label class="file" ng-class="{hasFile: arrFiles[3] == 1}">
          <input type="file" file="post.post.photos[3]" onchange="angular.element(this).scope().fileNameChanged(this, 3)">
        </label>
        <label class="file" ng-class="{hasFile: arrFiles[4] == 1}">
          <input type="file" file="post.post.photos[4]" onchange="angular.element(this).scope().fileNameChanged(this, 4)">
        </label>
      </div>

      <button class="btn btn-primary" type="submit">Agregar</button>
    </form>
  </div>
</div>