<div class="row">
  <div class="col-sm-8">
    <h2 class="main">Añadir publicación</h2>
    <form ng-submit="post.savePost()" class="create-form">
      <div class="form-group" ng-show="post.special">
        <label class="u-label">
          <span>Número de lona o código:</span>
        </label>
        <div class="padding-wrapper">
          <input type="text" class="form-control" ng-model="post.post.canvas_number">
        </div>
      </div>
      <div class="form-group">
        <label class="u-label">
          <span><span class="asterisk" ng-show="post.inmuebles[post.type_property].publication">*</span> Tipo de publicación:</span>
        </label>
        <div class="padding-wrapper">
          <div class="select">
            <select ng-options="type.id as type.name for type in post.type.publication track by type.id" ng-model="post.post.type_publications" ng-required="post.inmuebles[post.type_property].publication"
            ng-change="post.setRequired(post.post.type_publications,true)">
              <option value=""></option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group" ng-show="post.special">
        <label class="u-label">
          <span>Tipo de publicación de cartera vencida:</span>
        </label>
        <div class="padding-wrapper">
          <div class="select">
            <select ng-options="type.id as type.name for type in post.type.past track by type.id" ng-model="post.post.type_publications_past_due">
              <option value=""></option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="u-label">
          <span><span class="asterisk" ng-show="post.inmuebles[post.type_property].type_property">*</span> Tipo de inmueble:</span>
        </label>
        <div class="padding-wrapper">
          <div class="select">
            <select ng-options="type.id as type.name for type in post.type.property track by type.id" ng-model="post.post.type_property" ng-change="post.setRequired(post.post.type_property,false)" ng-required="post.inmuebles[post.type_property].type_property">
              <option value=""></option>
            </select>
          </div>
        </div>
      </div>
      <p ng-hide="post.state">Debes seleccionas un país y un estado antes de seleccionar un municipio y una colonia</p>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label class="u-label">
              <span><span class="asterisk" ng-show="post.inmuebles[post.type_property].town">*</span> Municipio:</span>
            </label>
            <div class="padding-wrapper">
              <div class="select">
                <select ng-options="type.id as type.name for type in post.minucipalities track by type.id" ng-model="post.post.town" ng-change="post.setNeighborhood()" ng-disabled="!post.state" ng-required="post.inmuebles[post.type_property].town">
                  <option value=""></option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label class="u-label">
              <span><span class="asterisk" ng-show="post.inmuebles[post.type_property].neighborhood">*</span> Colonia:</span>
            </label>
            <div class="padding-wrapper">
              <div class="select">
                <select ng-options="type.id as type.name for type in post.neighborhood track by type.id" ng-model="post.post.neighborhood"  ng-disabled="!post.state" ng-required="post.inmuebles[post.type_property].neighborhood">
                  <option value=""></option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="u-label">
          <span><span class="asterisk" ng-show="post.inmuebles[post.type_property].title">*</span> Título de la publicación:</span>
        </label>
        <div class="padding-wrapper">
          <input type="text" class="form-control" ng-model="post.post.title" ng-required="post.inmuebles[post.type_property].title">
        </div>
      </div>
      <div class="form-group">
        <label class="u-label">
          <span><span class="asterisk" ng-show="post.inmuebles[post.type_property].description">*</span> Descripción del anuncio:</span>
        </label>
        <div class="padding-wrapper">
          <input type="text" class="form-control" ng-model="post.post.description" ng-required="post.inmuebles[post.type_property].description">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label class="u-label">
              <span><span class="asterisk" ng-show="post.inmuebles[post.type_property].price_first">*</span> Precio:</span>
            </label>
            <div class="padding-wrapper">
              <input type="text" class="form-control" ng-model="post.post.price_first" ng-required="post.inmuebles[post.type_property].price_first">
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group radios">
            <label class="radio-inline u-label" ng-repeat="currency in post.currencies">
              <input type="radio" name="currency" ng-model="post.post.currency" ng-value="currency.id"> {{currency.name}}
            </label>
          </div>
        </div>
      </div>
      <div class="row" ng-show="post.special">
        <div class="col-sm-6">
          <div class="form-group">
            <label class="u-label">
              <span>Avalúo:</span>
            </label>
            <div class="padding-wrapper">
              <input type="text" class="form-control" ng-model="post.post.price_appraisal">
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label class="u-label">
              <span>Estatus legal:</span>
            </label>
            <div class="padding-wrapper">
              <div class="select">
                <select ng-options="type.id as type.name for type in post.type.legal track by type.id" ng-model="post.post.legal_status">
                  <option value=""></option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group" ng-hide="post.inmuebles[post.type_property].bath_hide">
            <label class="u-label">
              <span>Baños:</span>
            </label>
            <div class="padding-wrapper">
              <div class="select">
                <select ng-options="number for number in post.bath" ng-model="post.post.bathrooms">
                  <option value=""></option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label class="u-label">
              <span>Antigüedad:</span>
            </label>
            <div class="padding-wrapper">
              <input type="number" class="form-control" ng-model="post.post.antiquity" min="0">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group" ng-hide="post.inmuebles[post.type_property].area_hide">
            <label class="u-label">
              <span><span class="asterisk" ng-show="post.inmuebles[post.type_property].area">*</span> Metros (terreno):</span>
            </label>
            <div class="padding-wrapper">
              <input type="text" class="form-control" ng-model="post.post.area" ng-required="post.inmuebles[post.type_property].area">
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group" ng-hide="post.inmuebles[post.type_property].construction_area_hide">
            <label class="u-label">
              <span><span class="asterisk" ng-show="post.inmuebles[post.type_property].construction_area">*</span> Metros (construcción):</span>
            </label>
            <div class="padding-wrapper">
              <input type="text" class="form-control" ng-model="post.post.construction_area" ng-required="post.inmuebles[post.type_property].construction_area">
            </div>
          </div>
        </div>
      </div>
      <div>
        <label class="u-label">Fotos (máx 5):</label>
        <label class="file" ng-class="{hasFile: arrFiles[0] == 1}">
          <input type="file" file="post.post.photos[0]" onchange="angular.element(this).scope().fileNameChanged(this, 0)">
        </label>
        <label class="file" ng-class="{hasFile: arrFiles[1] == 1}">
          <input type="file" file="post.post.photos[1]" onchange="angular.element(this).scope().fileNameChanged(this, 1)">
        </label>
        <label class="file" ng-class="{hasFile: arrFiles[2] == 1}">
          <input type="file" file="post.post.photos[2]" onchange="angular.element(this).scope().fileNameChanged(this, 2)">
        </label>
        <label class="file" ng-class="{hasFile: arrFiles[3] == 1}">
          <input type="file" file="post.post.photos[3]" onchange="angular.element(this).scope().fileNameChanged(this, 3)">
        </label>
        <label class="file" ng-class="{hasFile: arrFiles[4] == 1}">
          <input type="file" file="post.post.photos[4]" onchange="angular.element(this).scope().fileNameChanged(this, 4)">
        </label>
      </div>

      <button class="btn btn-primary" type="submit" ng-disable="post.disabled">Agregar</button>
    </form>
  </div>
</div>
