<div ui-view>
  <div class="row">
    <div class="col-sm-8">
      <div class="search-tool">
        <input type="text">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4" ng-repeat="p in post.posts">
      <div class="post">
        <div class="post-image">
          <a ui-sref="single({id: p.id})" class="post-link">
            <div class="post-image-background" style="background-image: url('{{post.base}}media/{{p.photos[0].hash_name}}');"></div>
          </a>
          <a href="#" class="star" ng-class="{fav: p.isfavorite}" ng-click="post.fav($event, p)"></a>
          <a ui-sref="single({id: p.id})" class="action">{{p.type_publications.name}}</a>
        </div>
        <div class="post-name">
          <div class="post-name-image">
            <div ng-show="p.user.photo" class="post-user-image" style="background-image: url('{{post.base}}media/{{p.user.photo}}');"></div>
            <div ng-hide="p.user.photo" class="post-user-image"></div>
          </div>
          <p>{{p.user.name}}</p>
        </div>
        <div class="post-info">
          <h4><a ui-sref="single({id: p.id})">{{p.title}}</a></h4>
          <h4>{{p.neighborhood.name}}</h4>
          <span class="place">{{p.type_publications_past_due.name}}</span>
          <span class="place">{{p.town.name}}, {{p.state.name}}</span>
          <span class="price">${{p.price_first}} {{p.currency.name}}</span>
          <div>
            <a href="#" class="price" ng-show="post.showDelete" ng-click="post.deletePub($event, p)">Eliminar</a>
            <a ui-sref="post.edit({id: p.id})" class="price" ng-show="post.showDelete">Editar</a>
          </div>
          <div class="text-right">
            <span class="ago">{{p.date | Ago}}.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>