<div class="single-post">
  <div class="rows">
    <div class="col-50">
      <div class="singles">
        <div class="single-img">
          <img ng-src="{{single.base}}media/{{single.bigPhoto}}">
        </div>
        <div class="single-minis">
          <div class="mini" ng-repeat="photo in single.post.photos">
            <img ng-src="{{single.base}}media/{{photo.hash_name}}" ng-click="single.changePhoto(photo.hash_name)">
          </div>
        </div>
      </div>
    </div>
    <div class="col-50">
      <div class="action">
        <a href="#">{{single.post.type_publications.name}}</a>
      </div>
      <div class="options">
        <div class="row">
          <div class="col-sm-6">
            <div class="single-img-pf">
              <img ng-src="{{single.profilePhoto}}">
            </div>
            <span>Publicado por</span>
            <span>{{single.post.user.name}}</span>
          </div>
          <div class="col-sm-6">
            <div class="text-right">
              <span>{{single.post.date | Ago}}</span>
              <span class="link-options">
                <a ui-sref="user({id: single.post.user.id})" class="icon-user"></a>
                <a href="mailto:{{single.post.user.email}}" class="icon-mail"></a>
                <a href="tel:{{single.post.user.phone}}" class="icon-tel"></a>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="single-content">
        <p># De lona: {{single.post.canvas_number}}</p>
        <p>Tipo de inmueble: {{single.post.type_property.name}}<br>
Municipio: {{single.post.town.name}}, {{single.post.state.name}}.<br>
Colonia: {{single.post.neighborhood.name}}</p>

        <p>Descripción: {{single.post.description}}.</p>

        <p>Precio: ${{single.post.price_first}} {{single.post.currency.code}}</p>

        <p>Baños: {{single.post.bathrooms}} <br>
Antigüedad: {{single.post.antiquity}} años</p>

        <p>Terreno: {{single.post.area}} m2<br>
Construcción: {{single.post.construction_area}} m2</p>

        <div class="comments">
          <div class="comment" ng-repeat="comment in single.comments">
            <div>
              <span class="who">{{comment.user.name}} dice:</span>
              <span>{{comment.comment}}</span>
              <span class="ago">{{comment.date | Ago}}</span>
            </div>
          </div>
          <textarea placeholder="Escribe un comentario" ng-model="single.comment.comment"></textarea>
        </div>
        <button type="button" ng-click="single.pushComment()">Guardar</button>
      </div>
    </div>
  </div>
</div>